<html>
    <head>
        <script src="https://unpkg.com/vue@2.1.3/dist/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    </head>
    <body>
        <div id="main">
            <input v-model="channel"/>
            <button v-on:click="enter()">connect</button>
            <input v-model="newMsg"/>
            <button v-on:click="send()">asdf</button>
            <div id="chat-messages" class="card-content" v-html="chatContent"></div>
        </div>
        <script>
            new Vue({
                el: '#main',
                data: {
                    ws: null, // Our websocket
                    ws2: null,
                    newMsg: '', // Holds new messages to be sent to the server
                    channel: '',
                    chatContent: ''
                },
                methods: {
                    enter: function() {
                        axios
                            .get('http://localhost:8001/get-access-key/?token=b43e40a8-6f02-4e43-8ca8-fc6158e189b8')
                            .then(response => (
                                console.log(response.data),
                                this.connect(response.data.accessKey, this.ws)
                                // this.connect(response.data.accessKey, this.ws2)
                                ))
                            .catch(error => console.log(error));
                    },
                    connect: function(accessKey, ws) {
                        var self = this;
                        
                        ws = new WebSocket('ws://localhost:8001/ws/?channel=test&key=' + accessKey);
                        ws.onerror = function(error) {
                            console.log("Ошибка " + error);
                        };
                        ws.addEventListener('message', function(e) {
                            var msg = JSON.parse(e.data);
                            console.log(msg);
                            self.chatContent += '<div class="message">'+msg['message']+'</div>';
                            var element = document.getElementById('chat-messages');
                            element.scrollTop = element.scrollHeight;
                        });
                    },
                    send: function () {
                        if (this.newMsg != '') {
                            this.ws.send(
                                JSON.stringify({
                                    message: this.newMsg
                                }
                            ));
                            this.newMsg = ''; // Reset newMsg
                        }
                    },
                    join: function () {
                        if (!this.email) {
                            Materialize.toast('You must enter an email', 2000);
                            return
                        }
                        if (!this.username) {
                            Materialize.toast('You must choose a username', 2000);
                            return
                        }
                        this.email = $('<p>').html(this.email).text();
                        this.username = $('<p>').html(this.username).text();
                        this.joined = true;
                    },
                    gravatarURL: function(email) {
                        return 'http://www.gravatar.com/avatar/' + CryptoJS.MD5(email);
                    }
                }
            });
        </script>
    </body>
</html>